@import "../../scss/variables";

.root {
	position: relative;
	@media (max-width: 820px) {
		width: 100%;
	}
}

.input {
	padding: 0 148px;
	width: 812px;
	height: 80px;
	background-color: $color-white;
	color: $color-grey;
	border-radius: 8px;
	font-size: 20px;
	border: none;
	transition: outline-color 0.3s ease-in-out;

	@media (max-width: 820px) {
		width: 100%;
	}

	@media (max-width: 580px) {
		padding: 0 60px;
		font-size: 16px;
	}

	&::placeholder {
		color: $color-grey;
	}

	&:focus {
		outline-color: $color-grey;
	}
}

.searchIcon {
	position: absolute;
	left: 60px;
	top: 50%;
	transform: translateY(-50%);
	width: 28px;
	height: 28px;
	opacity: 0.4;

	@media (max-width: 540px) {
		left: 20px;
	}
}

.clearIcon {
	position: absolute;
	right: 63px;
	top: 50%;
	transform: translateY(-50%);
	width: 28px;
	opacity: 0.3;
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;

	@media (max-width: 540px) {
		right: 20px;
	}

	&:hover {
		opacity: 0.5;
	}
}
